@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
}
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth; /* scroll animado */
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a; /* slate-900 */
}
